<nav class='navbar navbar-expand p-0 m-0'>
  <div class='container-fluid bg-dark text-white'>
    <a class='navbar-brand text-white fs-2' href='#'>TB</a>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <a class='nav-link text-white fs-4' href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link text-white fs-4'
            href='/dashboard/{{user_id}}'
          >Dashbboard</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link text-white fs-4' href='#'>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>