.header {
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.custom-btn {
  width: 100px;
}

a {
  text-decoration: none !important;
  color: white !important;
}

#addPostContainer {
  display: none;
}

#blogpostContainer {
  display: block;
}

#addpost {
  display: block;
}

.blogpost-dashboard {
  cursor: pointer;
}

#newCommentContainer {
  display: none;
}
